{% extends 'header.html' %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">

                    <h3 class="text-center mb-4">🌾 Login</h3>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                        </div>

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-success">
                                Login
                            </button>
                        </div>

                        <p class="text-center mb-0">
                            Don’t have an account?
                            <a href="{% url 'signup' %}" class="text-success fw-semibold">Sign Up</a>
                        </p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
